---
import { Icon } from "astro-icon/components";
import { USER_NAME, USER_SITE, USER_FOOTER_SOCIAL_ICONS } from "@config";
---

<div class="bg-transparent order-5" transition:name="footer">
  <footer class="footer bg-base-100 p-6 rounded-xl shadow-lg">
    <nav>
      <span class="footer-title">快速链接</span>
      <a href="https://status.haman.uk/" target="_blank" class="link link-hover font-bold">系统状态</a>
      <a href="https://haman.uk/" target="_blank" class="link link-hover font-bold">导航站</a>
    </nav>
    <nav>
      <span class="footer-title">支持</span>
      <a href="https://hitokoto.cn/" target="_blank" class="link link-hover font-bold">Hitokoto - 一言</a>
      <a href="https://github.com/EveSunMaple/Frosti" target="_blank" class="link link-hover font-bold">Frosti</a>
      <a href="https://github.com/xz131714/RyuChan" target="_blank" class="link link-hover font-bold">Ryuchan</a>
    </nav>
    <nav>
      <span class="footer-title">社交</span>
      <div class="grid grid-flow-col gap-4">
        {
          USER_FOOTER_SOCIAL_ICONS.map((icon) => (
            <div class="tooltip" data-tip={icon.title}>
              <a tabindex="0" href={icon.href} aria-label={icon.ariaLabel}>
                <Icon name={icon.svg} class="text-2xl md:text-xl" />
              </a>
            </div>
          ))
        }
        <div class="tooltip" data-tip="RSS Feed">
          <a tabindex="0" href="/rss.xml" aria-label="RSS Feed">
            <Icon name="ri:rss-line" class="text-2xl md:text-xl" />
          </a>
        </div>
      </div>
    </nav>
  </footer>
  <div class="mt-4 text-center text-sm text-base-content/70">
    <p class="flex items-center justify-center gap-3">
      <span
        >Powered by <a href="https://github.com/EveSunMaple/Aeralis" target="_blank" class="font-bold">Aeralis</a></span
      >
      <span class="text-base-content/30">|</span>
      <span
        >Copyright © <a href={USER_SITE} target="_blank" class="font-bold">{USER_NAME}</a>
        {new Date().getFullYear()} - All right reserved</span
      >
    </p>
  </div>
</div>
